:root {
  line-height: 1.5;
  font-weight: bold;
  text-wrap: nowrap;

  color-scheme: dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
}

body {
  margin: 0;
  min-width: 370px;
  min-height: 100vh;
  font-family: "Noto Sans JP";
}

.header,
.form {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 1em;
}

input {
  padding: 0.3em 0.6em;
  font-size: 1.1em;
  font-family: inherit;
  font-weight: bold;
}

button {
  min-width: 80px;
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-family: inherit;
  font-weight: bold;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
